<div class="navBar">
  <p id="shadow"></p>
  <div class="spaceBackground"></div>
  <a href="/">
    <img id="glow" src='/Banner.png' alt='logo' />
    <img src='/Banner.png' alt='logo' />
  </a>
  @* <div class="navOptions navOptionsOverlay"></div> *@
  <div class="navOptions">
    <div class="option">
      <div>
        <a href="/posts">Posts</a>
      </div>
    </div>
    <div class="option">
      <div>
        <a href="/articles">Articles</a>
      </div>
    </div>
    <div class="option">
      <div>
        <span><a href='https://github.com/ninjabattler' target='_blank' rel="noreferrer">Github</a></span>
      </div>
    </div>
    <div class="option">
      <div>
        <a href="/about">About</a>
      </div>
    </div>
  </div>
</div>